@font-face {
   font-family: "Montserrat";
   src: url(../fonts/Montserrat/montserrat-v15-latin-regular.woff) format("woff"),
      url(../fonts/Montserrat/montserrat-v15-latin-regular.woff2) format("woff2");
   font-weight: 400;
}

@font-face {
   font-family: "Montserrat";
   src: url(../fonts/Montserrat/montserrat-v15-latin-500.woff) format("woff"),
      url(../fonts/Montserrat/montserrat-v15-latin-500.woff2) format("woff2");
   font-weight: 500;
}

@font-face {
   font-family: "Montserrat";
   src: url(../fonts/Montserrat/montserrat-v15-latin-600.woff) format("woff"),
      url(../fonts/Montserrat/montserrat-v15-latin-600.woff2) format("woff2");
   font-weight: 600;
}

@font-face {
   font-family: "Montserrat";
   src: url(../fonts/Montserrat/montserrat-v15-latin-700.woff) format("woff"),
      url(../fonts/Montserrat/montserrat-v15-latin-700.woff2) format("woff2");
   font-weight: 700;
}

@font-face {
   font-family: "Rouge Script";
   src: url(../fonts/rouge-script/rouge-script-v9-latin-regular.woff) format("woff"),
      url(../fonts/rouge-script/rouge-script-v9-latin-regular.woff2) format("woff2");
   font-weight: 400;
}
